<div>
  <div>
    <h1>
      <span>
        <%= @item.id %>
      </span>
      <%= @item.title %>
    </h1>
    <h1 >
              <span ><%= number_to_currency @item.price %></span>
    </h1>
    
  </div>
  <small>
    currently <em><%= @item.quantity %></em> in stock
  <small>
  <hr/>
  <p ><%= @item.description %></p>
 
  <div>

    <%= link_to "Edit", edit_item_path(@item) %>
  </div>
</div> 
